@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

.hero {
    background-image: url(../image/image\ 1.png);
    height: 919px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    justify-content: center;
    display: flex;
    justify-content: center;
    align-items: center;

}

.hero-conteiner {
    width: 685px;

}

.subtext {
    opacity: 0.8;
    color: rgb(255, 255, 255);
    font-family: Work Sans;
    font-size: 32px;
    font-weight: 600;
    line-height: 38px;
    letter-spacing: 0%;
    text-align: center;


}

.subtitle {
    color: rgb(255, 255, 255);
    font-family: Work Sans;
    font-size: 64px;
    font-weight: 700;
    line-height: 80px;
    letter-spacing: 0%;
    text-align: center;
    margin: 16px 0;
}

.hero-conteiner {
    color: rgb(255, 255, 255);
    font-family: Work Sans;
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;

    text-align: center;
}

.btn {
    color: rgb(255, 255, 255);
    font-family: Work Sans;
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: center;
    border-radius: 8px;

    background: rgb(82, 195, 3);
    padding: 21px 32px 21px 32px;
}

.title {}

.card {
    width: 884px;
    margin: 100px auto;

}

.title-1 {
    color: rgb(16, 16, 16);
    font-family: Work Sans;
    font-size: 32px;
    font-weight: 700;
    line-height: 44px;
    letter-spacing: 0%;
    text-align: center;
}

.title-2 {
    opacity: 0.6;
    color: rgb(16, 16, 16);
    font-family: Work Sans;
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;

    text-align: center;
}

.card-box {
    margin: 50px;
    width: 250px;
    height: 360px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;

}

.img-box {
    width: 250px;
}

.img {
    width: 100%;
}

.shop {


    border-radius: 8px;
    padding: 10px 24px 10px 24px;

    background-color: rgba(82, 195, 3, 0.15);
    text-align: center;
}

.card-conteiner {
    display: flex;
    gap: 20px;
    justify-content: space-between;

}

.card-5 {
    width: 424px;
    height: 650px;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 24px;
    background-color: blueviolet;
    border-radius: 16px;
}

.img {
    width: 424px;
    height: 240px;
    border-radius: 16px;
    margin-bottom: 24px;
    border-radius: 16px;
}

.offre {
    color: rgb(16, 16, 16);
    font-family: Work Sans;
    font-size: 40px;
    font-weight: 600;
    line-height: 47px;
    letter-spacing: 0%;
    margin: 24px 0;
}

.offer-content {
    opacity: 0.7;
    color: rgb(16, 16, 16);
    font-family: Work Sans;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 24px;
}

.pizza {
    color: rgb(16, 16, 16);
    font-family: Work Sans;
    font-size: 24px;
    font-weight: 600;
    border-radius: 8px;
    padding: 14px 32px 14px 32px;

    background: rgba(82, 195, 3, 0.15);
    margin: 24px 0;

}

.btn-5 {
    color: rgb(255, 255, 255);
    font-family: Work Sans;
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: center;
    border-radius: 16px;

    background: rgb(82, 195, 3);

    padding: 21px 32px 21px 32px;
}